<!doctype html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="ngModelOptionsOnInvalid.js"></script>
  <script>
    angular.module('app', ['NgModelOptionsOnInvalid']);
  </script>
</head>

<body ng-app="app">
  <h1>
    Angular ng-model-options on <code>$invalid</code>
  </h1>

  <p>
    The <code>ng-model-options</code> will be reset to the passed object when the form control transitions to an <code>$invalid state</code>. This is useful for switching from lazy to greedy validation to give the user instant feedback after they have initially made a mistake.
  </p>

  <h2>Demos</h2>

  <form name="registerForm">
    <section>
      <h1>Change <code>blur</code> validation to default (greedy) validation</h1>

      <input
        type="email"
        required
        name="email"
        placeholder="Email"
        ng-model="register.email"
        ng-model-options="{updateOn: 'blur'}"
        ng-model-options-on-invalid="{updateOn: 'default'}">

      <span style="color:green" ng-show="registerForm.email.$valid">
        Valid email
      </span>

      <span style="color:red" ng-show="registerForm.email.$invalid && registerForm.email.$touched">
        Invalid email
      </span>

      <strong>Model:</strong>
      <span ng-bind="register.email"></span>
    </section>

    <section>
      <h1>Change debouncing to default (greedy) validation</h1>

      <input
        name="name"
        required
        placeholder="Name"
        ng-model="register.name"
        ng-model-options="{debounce: 1000}"
        ng-model-options-on-invalid="{updateOn: 'default'}">

      <span style="color:green" ng-show="registerForm.name.$valid">
        Valid name
      </span>

      <span style="color:red" ng-show="registerForm.name.$invalid && registerForm.name.$touched">
        Invalid name
      </span>

      <strong>Model:</strong>
      <span ng-bind="register.name"></span>
    </section>
  </form>
</body>

</html>
